<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Gorillaz page</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
     <div>
        <h1>Gorillaz  |  About</h1>
    </div>

    <section>
        <p>
            Gorillaz es un grupo virtual formado por el cantante de las bandas Blur y The Good, The Bad And The Queen, Damon Albarn, y Jamie Hewlett, dibujante inglés creador de cómics, y otros artistas que han colaborado en sus proyectos. El grupo, en su formato virtual, esta compuesto por Stuart Pot (o 2-D), Murdoc Niccals, Noodle, Ace, Russel Hobbs y la eventual aparición de Del, el fantasma del mejor amigo de Russel Hobbs que vive en su cuerpo, y producido por Dan "the Automator" Nakamura el mismo lúcido productor de Lovage, proyecto trip hop en el que participa Mike Patton.
        </p>
        <p>
            Su primer álbum, “Gorillaz” (2001), vendió más de 6 millones de copias en todo el mundo y les valió una entrada en el libro Guinnes de los récords como la banda virtual más exitosa. Su segundo álbum de estudio “Demon Days” fue lanzado en el 2005 y Plastic Beach (2010). The Fall lanzado el mismo año que Plastic Beach como complemento ademas de ser gratuito. Humanz (2017), fue lanzado 6 años después de su anterior disco, creando una gran expectativa entre los fans de la banda.
        </p>
        <p>
            Su último album, The Now Now, fue lanzado el 29 de Junio de 2018, tan solo un año después de Humanz. Cuenta con un total de 11 canciones, y en el participan artistas como Snoop Dogg, Jamie Principle o George Benson.
        </p>
    </section>

    <div>
        <h2><a href="/"> < Volver </a> </h2>
    </div>
     <br><br>
    <div>
        <h5>Creado con ❤️ por <a href="https://www.instagram.com/_jackmad/">@_jackmad</a></h5>
    </div>
</body>
</html>