<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery | Gorillaz page</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div>
        <h1>Gorillaz  |  Gallery</h1>
    </div>
    <section class="gallery">
        <div>
            <img src="/images/landscape1.jpg" alt="Phase 1" class="landscape">
        </div>
        <div >
            <img src="/images/landscape2.jpg" alt="Phase 2" class="landscape">
        </div>
        <div >
            <img src="/images/landscape3.jpg" alt="Phase 3" class="landscape">
        </div>
        <div >
            <img src="/images/landscape4.jpg" alt="Phase 4" class="landscape">
        </div>
        <div>
            <img src="/images/landscape5.jpg" alt="Phase 5" class="landscape">
        </div>
        <div >
            <img src="/images/landscape6.jpg" alt="Phase 6" class="landscape">
        </div>
        <div >
            <img src="/images/landscape7.jpeg" alt="Phase 7" class="landscape">
        </div>
        <div >
            <img src="/images/landscape8.jpg" alt="Escape to Plastic Beach World Tour" class="landscape">
        </div>
    </section>

    <div>
        <h2><a href="/"> < Volver </a> </h2>
    </div>
     <br><br>
    <div>
        <h5>Creado con ❤️ por <a href="https://www.instagram.com/_jackmad/">@_jackmad</a></h5>
    </div>
</body>
</html>