<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery | Gorillaz page</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div>
        <h1>Gorillaz  |  Gallery</h1>
    </div>

    <div>
        <h2><a href="/"> < Volver </a> </h2>
    </div>
     <br><br>
    <div>
        <h5>Creado con ❤️ por <a href="https://www.instagram.com/_jackmad/">@_jackmad</a></h5>
    </div>
</body>
</html>