<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Gorillaz page</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div>
        <h1>Gorillaz</h1>
    </div>
    
    <div>
        <a href="http://www.gorillaz.com"><img src="/images/1.jpeg" alt="">
        <h2>Webpage</h2>
        </a> &nbsp;

        <a href="/about"><img src="/images/2.jpg" alt="">
        <h2>About</h2>
        </a>&nbsp;

        <a href="/work"><img src="/images/3.jpg" alt="">
        <h2>Work</h2>
        </a>&nbsp;

        <a href="/gallery"><img src="/images/4.jpg" alt="">
        <h2>Gallery</h2>
        </a>
    </div>
    <br><br><br><br><br>
    <div>
        <h5>Creado con ❤️ por <a href="https://www.instagram.com/_jackmad/">@_jackmad</a></h5>
    </div>
</body>
</html>